.mainContainer {
  padding: 24px;
  margin: 16px;
  min-width: 200px;
  max-width: 100%;
  height: calc(100vh - 140px);
  background-color: #ffffff;
  border: 1px solid #d3d9db;
  color: #484f51;
  overflow: auto;

  .exchangeItem {
    padding: 10px;
    color: #64CDC9;
  }

  a {
    text-decoration: none;
  }
}
