html {
  overflow-x: hidden;
  overscroll-behavior: none;
  body::-webkit-scrollbar {
    width: 0;
  }
  body {
    margin: 0;
  }
}

html,
body {
  min-width: 1024px;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

.appContainer {
  height: 100vh;
  width: 100%;
  background-color: #f5f7f8;

  .appInnerContainer {
    height: auto;
    width: auto;
    //background-color: green;
  }

  .linksWrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #EEEEEE;
    //justify-content: space-between;
    a {
      display: inline-block;
      margin-right: 15px;
      padding: 5px;
      border: 1px solid grey;
      color: #6b6b6b;
      border-radius: 5px;
      text-decoration: none;
      //color: red;
      &:hover {
        background-color: #f7f7f7;
        color: rgb(55, 58, 60);
      }

      &:active {
        color: red;
      }
    }
  }
}